[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
twitchio = "~=2.8.2"
firebase-admin = "~=6.4.0"
hypercorn = "~=0.16.0"
quart = "~=0.19.4"

[dev-packages]
mypy = "*"
flake8 = "*"
pylint = "*"
types-aiofiles = "*"
pytest = "*"
bandit = "*"

[requires]
python_version = "3.12"
